.map-menu {
   width: 25px;
   margin: 5px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.map-menu>div {
   padding: 5px;
   height: 25px;
   background-color: #175A8A;
}

.map-menu>div:hover {
   background-color: var(--hover-color);
}

.map-menu-handle {
   user-select: none;
   transition: background-color 0.2s;
   width: 7px;
   background-color: #141414;
}

.map-menu-handle:hover {
   background-color: #0B3C5E;
}

.map-menu-handle:active {
   background-color: var(--active-color);
}

.map-menu-ext {
   text-align: center;
   overflow: hidden;
   background-color: var(--menu-color);
}

.map-menu-ext > *:first-child {
   margin-top: 10px;
   margin-bottom: 10px;
   height: auto;
}

.drag-container>*>* {
   padding: 5px;
   width: 100%;
   overflow: hidden;
   container: layers / inline-size;
}

.drag-container >*>*>img {
   padding-left: 5px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   transition: width 0.1s, height 0.1s;
}

.drag-container >*>*>img:not(.active-layer) {
   border-left: rgba(0, 0, 0, 0) solid var(--border-size);
}

.drag-container > * > * > img:hover:not(.active-layer) {
   border-left: var(--inactive-item-color) solid var(--border-size);
}

.active-layer {
   border-left: var(--active-item-color) solid var(--border-size);
}

@container layers (min-width: 200px) {
   img {
      width: 180px;
      height: 120px;
   }
}

@container layers (min-width: 150px) and (max-width: 200px) {
   img {
      width: 120px;
      height: 82px;
   }
}

@container layers (max-width: 150px) {
   img {
      width: 80px;
   }
}