.map-menu-handle {
   user-select: none;
   transition: background-color 0.2s;
   width: 7px;
   background-color: #141414;
}

.map-menu-handle:hover {
   background-color: #0B3C5E;
}

.map-menu-handle:active {
   background-color: var(--active-color);
}

.map-menu-ext {
   text-align: center;
   overflow: hidden;
   background-color: var(--menu-color);
}

.map-menu-ext > *:first-child {
   margin-top: 20px;
   margin-bottom: 10px;
   height: auto;
}