@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: #ededed;
  --hover-color: #0B3C5E;
  --active-color: #1F81AB;
  --active-item-color: var(--active-color);
  --inactive-item-color: #14516c;
  --border-size: 5px;
  --item-color: #394353;
  --menu-color: #1F2A38;
  --item-color-hover: #29313d;
  --item-color-active: #1f252e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

html, .map {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #141414;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body > div {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}